<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataImportNServerReboot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DataImportNServerReboot.Properties.Settings>
            <setting name="RebootProcessList" serializeAs="String">
                <value>SOPWebServer,PSMSensorServer</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>BLD_205</value>
            </setting>
            <setting name="mdfFilePath" serializeAs="String">
                <value>C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\</value>
            </setting>
            <setting name="LocalCopyPath" serializeAs="String">
                <value>C:\UNE\backup</value>
            </setting>
            <setting name="DownloadServerURL" serializeAs="String">
                <value>http://172.16.10.50</value>
            </setting>
            <setting name="DownloadServerPath" serializeAs="String">
                <value>C:\UNE\UnEService\DatabaseBackup\bak</value>
            </setting>
        </DataImportNServerReboot.Properties.Settings>
    </userSettings>
	<appSettings>	
		<!--Log-->
		<add key="logFileTag" value="DataImportNServerReboot"/>
		<add key="logLifeTime" value="30"/>
		<add key="logFolder" value="C:\UNE\Log"/>
	</appSettings>
</configuration>