<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerMonitoring.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ServerMonitoring.Properties.Settings>
            <setting name="SystemPath" serializeAs="String">
                <value>C:\UNE\스마트재난관리시스템_개별</value>
            </setting>
            <setting name="IntegrationSystemPath" serializeAs="String">
                <value>C:\UNE\스마트재난관리시스템</value>
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value>IntegratedManagement4</value>
            </setting>
            <setting name="IntegrationWebServerURL" serializeAs="String">
                <value>http://192.168.0.214</value>
            </setting>
            <setting name="WebServerURL" serializeAs="String">
                <value>http://127.0.0.1</value>
            </setting>
        </ServerMonitoring.Properties.Settings>
    </userSettings>
</configuration>