<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!--Modbus 정전-->
		<add key="modbusIP" value="172.16.10.11"/>
		<!--<add key="modbusIP" value="127.0.0.1"/>-->
		<add key="modbusPort" value="502"/>
		<add key="modbusID" value="1"/>
		<!--UNE-->
		<add key="siteid" value="205"/>
		<add key="webServerURL" value="http://127.0.0.1"/>
		<add key="dbName" value="BLD_205"/>
		<add key="dbType" value="0"/>
		<!--Log-->
		<add key="logFileTag" value="BlackoutServer"/>
		<add key="logLifeTime" value="30"/>
		<add key="logFolder" value="C:\UNE\Log"/>
	</appSettings>
</configuration>