* {margin:0;padding:0;}
* html {height:1px;}
body {margin:0; padding:0; font-family:"굴림"; font-size:12px; color:#666; scroll:auto;}
table, tr, td, th {font-family:"돋움"; font-size:11px; color:#333333;}
.listtd {padding:10px 5px 8px 5px; border-bottom:1px solid #e5e5e5;}
th {background-color:#F3F5E0; background:url(../images/table/th_bg.gif) 0 0 repeat; height:26px; text-align:center; vertical-align:middle; color:#003366;}
img {border:0; vertical-align:middle;}
p { height:20px; margin:0; padding:5 0 0 0;}

a:link { font-size:11px; font-family:"돋움"; color:#3A5870; text-decoration:none; line-height:100%;}
a:visited { font-size:11px; font-family:"돋움"; color:#3A5870; text-decoration:none}
a:active { font-size:11px; font-family:"돋움"; color:#339999; text-decoration:none;}
a:hover { font-size:11px; font-family:"돋움"; color:#339999; text-decoration:none;}

#table {width:1280px; margin-right:auto; margin-left:auto;}
/*#table {float:left; margin:0 0 10px 0; padding:0 0 0 0; width:1280px;}*/
#paging {padding:0 0 0 0; text-align:center; width:1280px;}
#paging ul {display:inline;}
#paging li {display:inline; list-style-type:none; padding:0 10px 0 10px; font-family: Tahoma; font-size:11px; color: #333333;}
#paging li.pre10 {padding:0 2px 0 2px;}
#paging li.pre1 {padding:0 2px 0 2px;}
#paging li.next10 {padding:0 2px 0 2px;}
#paging li.next1 {padding:0 2px 0 2px;}
#paging li.line {background:url(../images/page/paging_line.gif) 0 2px no-repeat;}
#paging li.first {padding:0 5px 0 0;}
#paging li.last {background:url(../images/page/paging_line.gif) 0 2px no-repeat; padding:0 5px 0 0;}
