@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
.nav-m{display:none}
body{width:100%;background-color:#eceef5;height:800px;font-family: 'Noto Sans KR', sans-serif;}
#wrap{width:100%;margin:0 auto;background-color:#eceef5}
.header{width:100%;height:37.5px;background-color:#2d323e}
.content{width:100%;background-color:#eceef5}
.content .inner{width:1200px;height:800px;margin:0 auto;}
.inner .nav .logo{background-color:#444956;width:172.5px;height:37.5px;float:left}
.inner .nav .logo img{margin-top:9px;margin-left:11px;width:129px}
.inner .nav{position:absolute;top:0;height:37.5px;width:100%}
.inner .nav .sub{color:#acacac;font-size:13px;float:left;margin-top:11px;margin-left:23px}
 .user{color:#3c5dae;font-size:13px;float: right;margin-right: 10px;margin-top: -15px;}
.inner section.TK{width:750px;height:340px;margin:30px;border-radius:10px;box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);background-color:#fff}
.inner section.overall{width:750px;height:382px;border-radius:10px;margin-left:30px;margin-bottom:30px;box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);background-color:#fff}
.inner section.local{width:360px;height:752.5px;border-radius:10px;margin-left:30px;box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);background-color:#fff;position:relative;top:-782.5px;left:785px}
.inner section.personal{margin-top:-20px;width:262.5px;height:187.5px;border-radius:10px;margin-left:30px;box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);background-color:#fff;display:inline-block;position:relative;margin-bottom:15px}
.inner section .section-header{height:40px;border-radius:10px 10px 0 0;background-color:#3c5dae}
.section-header .section-title{font-size:18px;color:#fff;padding:12px 10px 11px 20px;float:left}
.section-header img{margin-top:10px;margin-right:8px}
.section-header .now{margin-left:450px;margin-top:-16px;font-size:12px;color:#fff}
.section-header .pass-time{font-size:12px;color:#fff;float:right;margin-top:-12px;margin-right:15px}
.inner section .section-inner{padding:20px 15px}
.inner section .section-inner2{padding:30px 23px}
.inner section .section-inner.box1 { height:299px; width:100%; box-sizing:border-box; overflow:hidden; overflow-y:scroll; }
.inner section .section-inner2.box2 { height:341px; width:100%; box-sizing:border-box; overflow:hidden; overflow-y:scroll; }
.inner section .section-inner.box3 { height:712px; width:100%; box-sizing:border-box; overflow:hidden; overflow-y:scroll; }
.section-inner .line{padding:8px;border-bottom:solid 1px #000;padding-top: 11px; overflow:hidden; }
.section-inner .number{width:18px;height:18px;background-color:#3c5dae;border-radius:50%;float:left;display:table}
.number p{display:table-cell;color:#fff;font-size:15px;font-weight:700;text-align:center;vertical-align:middle}
.inner-text{display:inline;font-weight:700;font-size:18px;vertical-align:4px;padding-left:12px;padding-right:15px}
.line img{margin-right:8px;}
.line .time{vertical-align:5px;font-size:13px;right:0;float:left}
.line .status{float:left;position:relative;vertical-align:2px;color:#05f;font-weight:700;padding-left:30px;font-size:15px}
.line .plus{float:left;width:16px;padding-left:78px}
.section-inner2 .status-board{width:337.5px;height:90px;border-radius:10px;background-color:#fff9ee;margin-bottom:15px}
.section-inner2 img{margin:7.5px;float:left}
.section-inner2 .tank-t{width:337.5px;height:90px;border-radius:10px;background-color:#f7ffdd;float:right;margin-top:-105px}
.section-inner2 .status-red{width:60px;height:20px;border-radius:10px;background-color:#c10032;display:table;margin-left:14px}
.section-inner2 .status-yellow{width:60px;height:20px;border-radius:10px;background-color:#f9b443;display:table;margin-left:20px}
.section-inner2 .status-green{width:60px;height:20px;border-radius:10px;background-color:#26ce70;display:table;margin-left:20px}
.status-red p,.status-yellow p,.status-green p{display:table-cell;text-align:center;vertical-align:middle;font-size:15px;font-weight:700;color:#fff}
.section-inner2 table{position:relative;top:10px}
.section-inner2 table td{font-size:15px;text-align:center;padding-top:8.5px}
.section-inner2 table td span{font-size:30px;font-weight:700;padding-right:2px;margin-left:21px}
.section-inner2 .move{width:673px;border:solid 1px #e4e4e4;background-color:#fff;padding:15px;padding-top:0;margin-top:7px}
.section-inner2 .move-table{width:100%}
.section-inner2 .move-table td{border-bottom:solid 1px #e4e4e4}
.section-inner2 .move-table tr:last-child td { border:none; }
.section-inner2 .move-table .move-content{font-size:15px;text-align:left;width:340px;padding-bottom:10px}
.section-inner2 .move-table .move-write{font-size:10.5px;color:#acacac;padding-bottom:10px}
.local-table{width:100%;margin-right:0}
.local-inner-table{width:100%;margin-right:0}
.local-inner-table .local-inner-text{font-size:15px;line-height:1.67;margin-top:5px;margin-left:20px;margin-bottom:7px}
.local-inner-table td{border-bottom:dotted 1px #e4e4e4!important;padding-top:0!important}
.local-table td{border-bottom:solid 1px #000;padding-top:16.5px}
.local-time{font-size:14px;font-weight:700;vertical-align:8px;padding-left:25px}
.local-table .tag{margin-top:6px;margin-bottom:7px}
.local-table .pin{float:right;border:solid 1px #a7bae9;background-color:#fff;border-radius:50%;margin-top:-15px}
.local-table .pin img{padding:5px}
.local-inner-table .more{font-size:9px;font-weight:700;color:#acacac;padding:7px 18px;text-decoration:underline}
.white-inner .oval{width:6px;height:6px;background-color:#3c5dae;float:left;margin-top:4px}
.white-inner p{color:#3c5dae;font-weight:700;font-size:16px;padding-left:10px}
.white-inner{position:relative;top:-37.5px;height:37.5px;padding:10px 15px}
.white-bar{width:100%;background-color:#fff;height:37.5px;box-shadow:0 5px 5px 0 rgba(0,0,0,0.1)}
.personal table{width:100%}
.personal table th{font-size:14px;background-color:#e2eafa;font-weight:700;color:#3c5dae;padding-top:5px;padding-bottom:5px}
.personal table tr{border-bottom:dotted 1px #e4e4e4}
.personal table td{padding:4px 12px 8px}
.personal-content{width:173px;font-size:14px;line-height:1.5}
.check .personal-check{width:15px;height:15px;border:solid 1px #e4e4e4;background-color:#fff;position:relative;top:6px;left:12px}
.local-sub{width:30%;background-color:#fff;margin-left:30px;margin-top:0px;border-radius:10px;box-shadow:0 5px 5px 0 rgba(0,0,0,0.1)}
.notice{width:32.5%;height:285px;background-color:#fff;margin-left:30px;border-radius:10px;box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);background-color:#fff;margin-bottom:30px}
.notice-inner{padding:22.5px}
.notice-inner button img{float:left;position:relative;top:5px;left:18px}
.notice-inner button{width:120px;height:40px;border-radius:5px;background-color:#3c5dae;color:#fff;font-size:18px;margin-top:5px}
.notice-inner input{margin-top:10px;margin-bottom:20px;width:100%;height:30px;border:solid 1px #e4e4e4;background-color:#fff}
.notice-inner input::placeholder{font-size:15px;color:#acacac}
.notice .notice-text{font-size:15px}
.nav li.sub:hover,.nav a:hover{color:#fff}
.morer{
    font-size: 13px;
    line-height: 1.6;
    padding-left: 30px;
    margin-top: 7px;
    margin-bottom: 4px;
    width: 525px;

}
.morer2{
   float: right;
   font-size: 13px;
   line-height: 1.6;
   margin-top: -92px;
   margin-right:35px ;
}
#notice1{
    margin-top: -30px;
}
@media  (max-width: 700px) {
    .notice-inner input::placeholder{font-size:13px;color:#acacac}
.nav-m .menu-content{display:none;width:100%;height:210px;background-color:#444956;text-align:center;color:#fff}
.nav-m .menu-content p{padding:16px}
.nav-m .menu-content li,a{width:100%;margin:0 auto;vertical-align:middle;height:50px;color:#fff;text-decoration:none;font-size:18px;font-weight:700}
.nav-m li.sub p:hover{color:#fff}
/* .nav-m .menu-content .user{width:100%;position:absolute;bottom:23px;font-size:15px;color:#acacac;margin:0 auto} */
.nav-m .menu-content.active{position:relative;z-index:111;display:block!important}
.header{background-color:#444956}
.inner .nav-m .logo img{margin-top:15px;margin-left:11px}
.nav-m .menu{float:right;position:relative;top:-35px;right:11px;width:25px}
.notice{width:93%;margin:0 auto;margin-bottom:15px}
.notice-inner button{width:90px}
.notice-inner button img{float:left;position:relative;top:5px;left:2px}
.white-inner{width: 100%;}
.local-sub{width:93%;margin:0 auto;position:relative;top:0px;}
.content{margin-top:80px}
.nav{display:none}
.nav-m{display:block}
.header,.logo{height:50px!important;width:100%!important}
.white-bar{height:50px;position:absolute}
.white-inner p{font-size:18px}
.white-inner{top:60px;position:absolute}
.logo img{width:173px!important}
.inner section.personal{display:block;width:93%;height:187.5px;margin:15px auto}
.content .inner{width:100%;height:auto;margin:0 auto}
.personal-content{width:64%!important}
.check .personal-check{position:relative;top:6px;left:43%!important}
.personal table th{padding-top:8px;padding-bottom:8px}
.inner .nav-m{position:absolute;top:0;height:37.5px;width:100%}
#imgg{
    padding-left: 18px;
    padding-top: 3px;
}
#notice1{
    margin-top: 0px;
}
section.personal{
    margin-top:0px
}

.local-time span{
    padding-top: 5px;
    display: block;
}
.local-table .pin{
    margin-top: -15px;
}
.user{position: absolute;
    right: 50px;
}
}
