<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="appName" value="영상서버 박동기"/>
		<add key="processPath" value="D:\\UnESolution\\web\\RTSPtoWebRTC\\RTSPtoWebRTC.exe"/>
		<add key="processParam" value=""/>
		<add key="processName" value="RTSPtoWebRTC"/>
	</appSettings>
</configuration>