<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreSafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PreSafe.Properties.Settings>
            <setting name="SystemFont" serializeAs="String">
                <value>맑은 고딕, 9pt</value>
            </setting>
            <setting name="ArrowFont" serializeAs="String">
                <value>맑은 고딕, 12pt</value>
            </setting>
        </PreSafe.Properties.Settings>
    </userSettings>
</configuration>