<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDMSAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SDMSAgent.Properties.Settings>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\UnE\Log\Agent\SDMSAgent.log</value>
            </setting>
            <setting name="UpdateTempPath" serializeAs="String">
                <value>C:\Temp\temp</value>
            </setting>
            <setting name="LocalDownloadPath" serializeAs="String">
                <value>C:\UNE\Download</value>
            </setting>
            <setting name="ServerUploadPath" serializeAs="String">
                <value>C:\UNE\Upload</value>
            </setting>
            <setting name="SDMS_update_src" serializeAs="String">
                <value>c:\temp\new</value>
            </setting>
            <setting name="SDMS_update_trg" serializeAs="String">
                <value>C:\Program Files\Apache Software Foundation\Tomcat 7.0\webapps\ROOT\SOP\Update</value>
            </setting>
            <setting name="SDMS_update_temp" serializeAs="String">
                <value>c:\temp\temp</value>
            </setting>
            <setting name="GetDrivePath" serializeAs="String">
                <value>C:\UnE\Log\Agent\SDMSAgent_Drive.log</value>
            </setting>
        </SDMSAgent.Properties.Settings>
    </userSettings>
</configuration>