<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!--add key="siteid" value="201"/>
    <add key="exe" value="D:\UnESolution\Unity\Parc1Exe\Parc1Unity.exe"/>
    <add key="windowName" value="Parc1Unity"/>
    <add key="outdoor" value="Outdoor_Model"/-->
    <add key="siteid" value="200"/>
    <add key="exe" value="C:\UnESolution\Unity\ShinhanExe\Shinhan.exe"/>
    <add key="windowName" value="Shinhan"/>
    <add key="outdoor" value="out_door_191112_final"/>
    <!--add key="exe" value="D:\UnESolution\bin\common12\UnitySam.exe"/>
    <add key="windowName" value="AA_Unity"/-->
  </appSettings>
</configuration>
