<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
      <add key="MainSiteID" value="300"/>
      <add key="Client1SiteID" value="301"/>
      <add key="Client2SiteID" value="302"/>
      <add key="SampleProject_ID" value="user_spatial"/>
      <add key="SampleProject_PW" value="spatial1234"/>
    </appSettings>
</configuration>
