<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="siteid" value="200"/>
    <add key="db" value="0, BLD_200"/>
    <add key="exe" value="D:\UnESolution\Unity\ShinhanExe\Shinhan.exe"/>
    <add key="windowName" value="Shinhan"/>
    <add key="url" value="http://192.168.0.234"/>
  </appSettings>
</configuration>