<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="siteid" value="202" />
    <add key="localSiteID" value="202007" />
    <add key="name" value="BLD_202" />
    <add key="localDBName" value="BLD_202007" />
    <add key="type" value="0" />
    <!--<add key="url" value="http://localhost" />-->
    <add key="url" value="http://13.124.113.148" />
    <!--<add key="alarmURL" value="1190/api/AlarmEvent" />
    <add key="checkURL" value="1190/api/CheckAlarm" />-->
    <add key="alarmURL" value="50525/api/AlarmEvent" />
    <add key="checkURL" value="50525/api/CheckAlarm" />
    <add key="checkToUnE" value="1" />
    <add key="apiKey" value="9793b9a83c1c4ba18ea45e8f6dcc35d2" />
    <add key="sopURL2" value="http://121.161.163.132:18130/itf/api/event/sop" />
	<!-- 이 값이 생략되어 있으면 config.ini를 통하여 읽은 SiteID와 연관된 정보만 사용한다. -->
	<!-- 이 값이 있으면, BaseBuildingGroup을 DB에서 읽고 그 아래에 있는 모든 Building들의 정보를 사용한다. -->
  	<!--<add key="baseBuildingGroupID" value="1" />-->
  </appSettings>
</configuration>