@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption{display:block;}

*, header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption,p {margin:0; padding:0;}

body {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight:300;
		background-color:#d1dae4;
		color:#030405;
	  }

li { list-style:none; }

img { border:none; }

a { text-decoration:none; }
