<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--
		<add key="port" value="6138"/>
		<add key="equipmentID" value="3"/>
		<add key="myID" value="255"/>
		<add key="siteid" value="10"/>
		<add key="webserverURL" value="http://127.0.0.1:808"/>
		<add key="dbName" value="WSOP_10"/>
		<add key="dbType" value="0"/>
		<add key="sensorTypes" value="(type &gt;= 11)"/>
		<add key="buildingGroupParams" value="T1=1,2;T2=1,3;T3=1,4;F=2,2;T5=2,3;T6=2,4;T7=3,2;T8=3,3;T9=3,4;UP=4,2;SLD=4,3"/>
		-->

		<add key="siteid" value="12"/>
		<add key="webserverURL" value="http://127.0.0.1:808"/>
		<add key="dbName" value="WSOP_12"/>
		<add key="dbType" value="0"/>
		<add key="sensorTypes" value="(type &gt;= 11)"/>
		
		<add key="portQM" value="13001"/>
		<add key="portWFF" value="13002"/>
		<add key="portAdmin" value="13003"/>
		<add key="portPD2" value="13004"/>
		<add key="portPR2" value="13005"/>

		<!-- 방송 전파할 건물IDs ex) 건물이름 = 건물 IDs -->
		<add key="buildingID" value="QM=4;WFF=8;Admin=10,1,2,5,7,9,11,12,15,16,17,19,20,21,22;PD2=3,13,14,18,;RP2=6"/>
		<!-- 방송 전파할 건물 포트정보 ex) 건물이름 = 건물 포트 -->
		<add key="buildingPort" value="QM=13001;WFF=13002;Admin=13003;PD2=13004;RP2=13005"/>
		
	</appSettings>
</configuration>