<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="XML_Resource" value="/XML" />
    <!--<add key="XML_Resource" value="/XML" />-->
    <add key="WebServiceBaseURL" value="https://sdesign.etri.re.kr:8443" />
    <!--<add key="WebServiceBaseURL" value="http://61.105.196.70:10003" />-->
    <!--add key="WebServiceBaseURL" value="http://61.105.196.70:9001" /-->
    <add key="LayerLineVisible" value="Space(1),AlertArea(1),Door(1),Window(1),Wall(0)" />
    <add key="LayerFillVisible" value="Wall(1),Door(1),Window(1)" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="BIMDBConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=UnE_BIM;User ID=sa;Password=9449966Ab" providerName="System.Data.SqlClient" />
    <add name="BIMDBConnection_Lite" connectionString="Data Source=UnE_BIM.db;Version=3;Password=une1234" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>