<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <DBExport.Properties.Settings>
            <setting name="conStr" serializeAs="String">
                <value>server=localhost;user=sa;pwd=9449966Ab;database=kpx;</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value>C:\Program Files\Apache Software Foundation\Tomcat 7.0\webapps\Download\</value>
            </setting>
            <setting name="ftpPath" serializeAs="String">
                <value>ftp://175.193.251.134:21210/</value>
            </setting>
            <setting name="downloadWebUrl" serializeAs="String">
                <value>http://183.104.147.144:18080/Download/</value>
            </setting>
            <setting name="downloadLocalPath" serializeAs="String">
                <value>D:\temp\KpxDbDump\</value>
            </setting>
            <setting name="MySqlSetupPath" serializeAs="String">
                <value>C:\Program Files\MySQL\MySQL Server 5.7\bin</value>
            </setting>
            <setting name="writePath" serializeAs="String">
                <value>D:\temp\KpxDbDump\</value>
            </setting>
        </DBExport.Properties.Settings>
    </userSettings>
</configuration>
