<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.unes.aqm.dao.NodeImageMapDAO">
	
	<resultMap id="result_attach_file" type="kr.co.unes.aqm.dto.site.NodeLinkImageMap">
		<result property="id" column="ID"/>
	    <result property="fileName" column="fileName"/>
	    <result property="url" column="url"/>
	    <result property="uuid" column="uuid"/>
	    <result property="mimeType" column="mimeType"/>	    
	    <result property="fileSize" column="fileSize"/>
	    <result property="linkNode" column="linkNode"/>
	    <result property="fileContent" column="fileContent"/>
	</resultMap>
		
	<select id="getImageMap" parameterType="String" resultMap="result_attach_file">
		SELECT 
			ID,
			fileName,
			url,
			uuid,
			mimeType,
			fileSize,
			linkNode,
			fileContent
		FROM
			ImageMap
		WHERE 
			uuid like #{uuid}		
	</select>
	
		
	<select id="getImageMapFormID" parameterType="int" resultMap="result_attach_file">
		SELECT 
			ID,
			fileName,
			url,
			uuid,
			mimeType,
			fileSize,
			linkNode,
			fileContent
		FROM
			ImageMap
		WHERE 
			ID = #{id}		
	</select>
	
	<select id="getImageMapID" parameterType="String" resultType="int">
		SELECT 
			ID			
		FROM
			ImageMap
		WHERE 
			uuid like #{uuid}		
	</select>
	
	<update id="setUseNodeLocation" parameterType="int">
		UPDATE 
			ImageMap 
		SET
			linkNode = 1
		WHERE
			ID = #{fileID}	
	</update>
	
	<update id="setUnuseNodeLocation" parameterType="int">
		UPDATE 
			ImageMap 
		SET
			linkNode = 0
		WHERE
			ID = #{fileID}	
	</update>
	
	<update id="unlinkNodeImageMap"></update>
	
	<update id="setNodeImageMap"></update>
	 
	<insert id="saveUploadImage" parameterType="kr.co.unes.aqm.dto.site.NodeLinkImageMap">
		<selectKey resultType="int" keyProperty="id" order="BEFORE">
        	SELECT IFNULL(MAX(ID),0)+1 FROM ImageMap        
    	</selectKey>
   		INSERT INTO ImageMap
  		 		(ID, fileName, url, uuid, mimeType, fileSize, linkNode, fileContent)
	  	VALUES
			(#{id}, #{fileName},#{url},#{uuid}, #{mimeType},#{fileSize},#{linkNode},#{fileContent})

	</insert>
	
	<delete id="deleteUnlinkedMaps" parameterType="int">
		DELETE FROM  
			ImageMap
		WHERE 
			linkNode = 0
	</delete>
	
	<delete id="deleteImageMap" parameterType="int">
		DELETE FROM  
			ImageMap
		WHERE 
			ID = #{id}
	</delete>
</mapper>