<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<!--Main-->
		<add key="MainSiteid" value="202" />
		<add key="MainDBName" value="BLD_202" />
				
		<!--Client-->
		<add key="ClientSiteid" value="202001" />
		<add key="ClientDBName" value="BLD_202001" />

		<!--공통-->
		<add key="type" value="0" />
		<add key="url2" value="http://192.168.0.218" />
		<add key="sopURL" value="http://192.168.0.218:5557/api/CheckAlarm" />
		<!--<add key="url2" value="http://13.124.113.148" />
		<add key="sopURL" value="http://13.124.113.148:50525/api/CheckAlarm" />-->
	</appSettings>
</configuration>