:root
{
    /* Grid */
    --sizeGridInitWidth: 2100px;    /* [D] Cell 넓이(300) * Coulmn 갯수(7) */
    --sizeGridInitHeight: 1400px;    /* [D] Cell 높이(200) * Coulmn 갯수(7) */
    --sizeCellDefaultWidth: 300px;
    --sizeCellDefaultHeight: 200px;

    /* SectionComponent */
    --sizeSectionLeftMargin: 50px;
    --sizeSectionRightMargin: 50px;
    --sizeSectionTopMargin: 60px;
    --sizeSectionBottomMargin: 60px;
    /*--sizeSectionWidth: 200px;
    --sizeSectionHeight: 80px;*/
    --sizeLineHeight: 65px;
    --sizeBorderLine: 5px;
    --sizeBorderRoundEdge: 12px;
    --colorSectionBorder: #9cbaf3;
    --colorSectionFill: #f0f5fd;

    /* Html Tag */
    --sizeFontSopTitle: 1.2em;
    --sizeFontStepMemberTitle: 1.1em;
    --colorSectionPanel: lightgray;
    --colorTextSopTitle: white;
    --colorBkSopTitle: #23a9f2;
    --colorBkStepMemberTitle: #efe4b0;
}


nav
{
    position: fixed;
    top: -2px;
    z-index: 1;
}

nav ul
{
    list-style: none;
    display: flex;
}

svg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.arrowLine
{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 4px;
}

.arrowTriangle
{
    fill: #a9a9a9;
}

.menuBtn
{
    padding: 10px;
    margin-right: 20px;
    border: 1px solid white;
}

.menuBtn.active,
.menuBtn:hover
{
    background-color: pink;
    cursor: pointer;
}

.panelAreas
{
    /* width: 100vw;
    height: 100vh; */
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
}

.sopTitle
{
    width: 100%;
    height: 50px;
    background-color: var(--colorBkSopTitle);
    text-align: center;
    line-height: 50px;
    font-size: var(--sizeFontSopTitle);
    font-weight: bold;
    border: 2px solid black;
	position: absolute;
	top: 50px;
	left: 0;
}

.sectionPanels
{
    width: 100%;
    height: 100%;
    display: flex;
}

.sectionPanel
{
    /* width: 100%; */
    /* background-color: var(--colorSectionPanel); */
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.stepMemberTitle
{
    width: 100%;
    height: 50px;
    background-color: var(--colorBkStepMemberTitle);
    text-align: center;
    line-height: 50px;
    font-size: var(--sizeFontStepMemberTitle);
    font-weight: bold;
}

.sectionGrid
{
    position: relative;
    /* 일부러 과하게 잡았다. */
    width: var(--sizeGridInitWidth);
    height: var(--sizeGridInitHeight);
    display: flex;
    flex-wrap: nowrap;
}

.sectionGridColumn
{
    width: var(--sizeCellDefaultWidth);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.sectionGridCell
{
    position: relative;
    width: 100%;
    height: var(--sizeCellDefaultHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.sectionGrid > .sectionGridColumn > .sectionGridCell
{
    border:1px dotted #eb134b;
}

.sectionGrid > .sectionGridColumn > .sectionGridCell:hover
{
    border: 2px solid yellow;
}
 */

.sectionGrid > .sectionGridColumn > .sectionGridCell:hover:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    border:2px solid yellow;
}

.sectionGrid > .sectionGridColumn > .sectionGridCell:first-child{
    border-top:0;
}

/* Section Componnet위의 화살표 버튼 */
.btnArrowTop
{
    position: absolute;
    width: 20px;
    height: 12px;
    top: -20px;
    background-image: url('../img/chart/btnArrowUp_normal.png');
    background-size: 20px 12px;
    opacity: 0;
}

.decisionArrowBox .btnArrowTop,
.annotationArrowBox .btnArrowTop,
.internalArrowBox .btnArrowTop
{
    top: -15px;
}

.btnArrowTop:hover
{
    background-image: url('../img/chart/btnArrowUp_dark.png');
}

.btnArrowBottom
{
    position: absolute;
    width: 20px;
    height: 12px;
    bottom: -20px;
    background-image: url('../img/chart/btnArrowDown_normal.png');
    background-size: 20px 12px;
    opacity: 0;
}

.decisionArrowBox .btnArrowBottom,
.annotationArrowBox .btnArrowBottom,
.internalArrowBox .btnArrowBottom
{
    bottom: -15px;
}

.btnArrowBottom:hover
{
    background-image: url('../img/chart/btnArrowDown_dark.png');
}

.btnArrowLeft
{
    position: absolute;
    width: 12px;
    height: 20px;
    left: -20px;
    background-image: url('../img/chart/btnArrowLeft_normal.png');
    background-size: 12px 20px;
    opacity: 0;
}

.decisionArrowBox .btnArrowLeft,
.annotationArrowBox .btnArrowLeft,
.internalArrowBox .btnArrowLeft
{
    left: -15px;
}

.btnArrowLeft:hover
{
    background-image: url('../img/chart/btnArrowLeft_dark.png');
}

.btnArrowRight
{
    position: absolute;
    width: 12px;
    height: 20px;
    right: -20px;
    background-image: url('../img/chart/btnArrowRight_normal.png');
    background-size: 12px 20px;
    opacity: 0;
}

.decisionArrowBox .btnArrowRight,
.annotationArrowBox .btnArrowRight,
.internalArrowBox .btnArrowRight
{
    right: -15px;
}

.btnArrowRight:hover
{
    background-image: url('../img/chart/btnArrowRight_dark.png');
}

/* Section Component */
.sectionComponent
{
    position: relative;
    width: calc(100% - var(--sizeSectionLeftMargin) - var(--sizeSectionRightMargin));
    height: calc(100% - var(--sizeSectionTopMargin) - var(--sizeSectionBottomMargin));
    background-color: var(--colorSectionFill);
    border: var(--sizeBorderLine) solid var(--colorSectionBorder);
    box-sizing: border-box;
    color: black;
    text-align: center;
    font-size: 1.5em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0.6;
}

.sectionComponent:hover .btnArrowTop,
.sectionComponent:hover .btnArrowBottom,
.sectionComponent:hover .btnArrowLeft,
.sectionComponent:hover .btnArrowRight,
.internalArrowBox:hover .btnArrowTop,
.internalArrowBox:hover .btnArrowBottom,
.internalArrowBox:hover .btnArrowLeft,
.internalArrowBox:hover .btnArrowRight,
.annotationArrowBox:hover .btnArrowTop,
.annotationArrowBox:hover .btnArrowBottom,
.annotationArrowBox:hover .btnArrowLeft,
.annotationArrowBox:hover .btnArrowRight,
.decisionArrowBox:hover .btnArrowTop,
.decisionArrowBox:hover .btnArrowBottom,
.decisionArrowBox:hover .btnArrowLeft,
.decisionArrowBox:hover .btnArrowRight
{
    opacity: 1;
}

.sectionComponent.process.round
{
    border-radius: var(--sizeBorderRoundEdge);
    line-height: 72px;
}

.internalArrowBox
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--sizeSectionLeftMargin) - var(--sizeSectionRightMargin));
    height: calc(100% - var(--sizeSectionTopMargin) - var(--sizeSectionBottomMargin));
}

.internalOuter
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--colorSectionBorder);
    clip-path: polygon(0 8px, 0 calc(100% - 8px), 100% 100%, 100% 0);
}

.sectionComponent.internal
{
    position: absolute;
    margin-bottom: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 12px, 0 calc(100% - 12px), 100% calc(100% - 5px), 100% 5px);
    line-height: 72px;
}

.annotationArrowBox
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--sizeSectionLeftMargin) - var(--sizeSectionRightMargin));
    height: calc(100% - var(--sizeSectionTopMargin) - var(--sizeSectionBottomMargin));
}

.sectionComponent.annotation
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--colorSectionBorder);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 30px, calc(100% - 27px) 0);
}

.sectionComponent.annotation .inner
{
    width: 100%;
    height: 100%;
    background-color: var(--colorSectionFill);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 27px, calc(100% - 25px) 0);
}

.sectionComponent.annotation .edge
{
    width: 20px;
    height: 23px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: var(--sizeBorderLine) solid var(--colorSectionBorder);
    border-bottom: var(--sizeBorderLine) solid var(--colorSectionBorder);
}

.sectionComponent.endpoint
{
    border-radius: 50px;
    line-height: 72px;
}

.decisionArrowBox
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--sizeSectionLeftMargin) - var(--sizeSectionRightMargin));
    height: calc(100% - var(--sizeSectionTopMargin));
}

.decisionOuter
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--colorSectionBorder);
    clip-path: polygon(50% 0, 0 50%, 50% 100%, 100% 50%);
}

.sectionComponent.decision
{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    line-height: 132px;
}

.decisionInner
{
    position: absolute;
    margin: auto;
    font-size: 1.5em;
}

/**
 * [D] 셀 넓이, 높이 조절 Header
 */
.sectionPanel
{
    /* height:calc(100vh - 64px); */
    /* height:100vh; */
    overflow:auto;
}
.sectionGrid
{
    margin-top:50px;
    margin-left:50px;
}

.sectionGrid > .sectionGridColumn > .sectionGridCell:after
{   
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-right:1px dotted #eb134b;
    border-bottom:1px dotted #eb134b;
}

.sectionGrid.disableBorder > .sectionGridColumn > .sectionGridCell:after
{
    border:0;
}

.sectionGridFix
{
    position:relative;
    z-index:100;
    width: var(--sizeGridInitWidth);
    height: var(--sizeGridInitHeight);
}

.sectionGridFix .btnToggleBorder
{
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    width: 50px;
    height: 50px;
    margin:0;
    padding:0;
    border:0;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background:#efefef url(../img/chart/eye_open.png) 50% 50% no-repeat;
}

.sectionGridFix .btnToggleBorder.is-close
{
    background-image:url(../img/chart/eye_cl.png);
}

.sectionGridFix .sectionGridRow
{
    position:absolute;
    top:50px;
    left:0;
    width: 50px;
    height: var(--sizeGridInitHeight);
}

.sectionGridFix .sectionGridColumn
{
    position:absolute;
    top:0;
    left:50px;
    width: 300px;
    height: 50px;
}

.sectionGridFix .sectionGridCell{
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background:#efefef;
}
