<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccessControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AccessControl.Properties.Settings>
            <setting name="npgSqlConnString" serializeAs="String">
                <!--<value>HOST=192.168.1.11;Port=5432;User Id=postgres;Password=admin1234;Database=kdhc_db;</value>-->
                <value>HOST=127.0.0.1;PORT=5432;USERNAME=postgres;PASSWORD=9449966Ab;DATABASE=DID;</value>
            </setting>
        </AccessControl.Properties.Settings>
    </userSettings>
</configuration>