<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!--동성 화재-->
		<add key="ip" value="172.16.10.250"/>
		<add key="port" value="1470"/>
		<!--UNE-->
		<add key="siteid" value="205"/>
		<add key="webServerURL" value="http://172.16.10.51:80"/>
		<!--Door-->
		<add key="DoorServerIP" value="10.13.10.11"/>
		<add key="DoorDbID" value="sa"/>
		<add key="DoorDbPw" value="s1access!"/>
		<add key="DoorDbName" value="S1ACCESS"/>
		<!--
		<add key="DoorServerIP" value="127.0.0.1"/>		
		<add key="DoorDbID" value="sa"/>
		<add key="DoorDbPw" value="s1access!"/>
		<add key="DoorDbName" value="UrbanAccess"/>
		-->
		<!--Log-->
		<add key="logFileTag" value="FireSensorServer"/>
		<add key="logLifeTime" value="30"/>
		<add key="logFolder" value="D:\UnESolution\src\UrbanBricks\FireSensorServer\FireSensorServer\bin\Debug\Log"/>
	</appSettings>
</configuration>