<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- Log -->
    <add key="logFolder" value="C:\UnE\Log" />
    <!-- 로그 저장기간(일) -->
    <add key="logLifeTime" value="30" />
    <add key="logFileTag" value="SOPWebServer" />
    <!-- Site 정보 -->
    <add key="siteid" value="201" />
    <add key="webserver" value="http://localhost:58798/" />
    <!--SOP_1-->
    <!--<add key="dbname" value="90/X/JShOkYQ25RGcFIpmQ==" />-->
    <!--SOP_2-->
    <!--add key="dbname" value="ewkrxt03qGsFyEUrpHeVPQ==" /-->
    <!--SOP_3-->
    <!--<add key="dbname" value="KsDn8Y9Taoe3wyYUP5jI4Q==" />-->
    <!--EDU_100-->
    <!--add  key="dbname" value="q9Uiy9HxtKdh1ikB7TviNw==" /-->
    <!--EDU_101-->
    <!--add  key="dbname" value="XD2TsSkl5CpAQkHgMA5DaQ==" /-->
    <!--EDU_102-->
    <!--add  key="dbname" value="kSAgoyVApL8vDzZdlBRW0A==" /-->
    <!--BLD_200-->
    <!--<add  key="dbname" value="u8H94tOjLP56jv3chFrkNg==" />-->
    <!--BLD_201-->
    <add  key="dbname" value="QH+OHJcSqmV+yXT5KodI7g==" />
    <!--BLD_202-->
    <!--add  key="dbname" value="rsekTm90+/DYAvJz1qph5w==" /-->
	<!--BLD_202001-->
	<!--<add  key="dbname" value="Ahpm08Z4bLqjlNQiIxN11w==" />-->
	<!--BLD_202002-->
	<!--<add  key="dbname" value="IL5PzeIgBj9k6FJ6AVqz5Q==" />-->
    <!--BLD_203-->
    <!--<add  key="dbname" value="RyGoNwL/H4qn/0PefTXzmw==" />-->
	<!--BLD_205-->
	<!--<add  key="dbname" value="x+uLjzyirKFMCEh3bpPlBg==" />-->
	<!--BLD_205001-->
	<!--<add  key="dbname" value="1H80Xc1+iLRcs9jH1pG5aw==" />-->
    <add key="dbtype" value="0" />
    <add key="ip" value="gnsl+ZIi/KrOPg6WEwj3gw==" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536"
                 portSharingEnabled="false">
          <readerQuotas maxDepth="32"
                    maxStringContentLength="8192"
                    maxArrayLength="16384"
                    maxBytesPerRead="4096"
                    maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="SOPWebServer.PostBoxService" behaviorConfiguration="PostBoxBehavior">
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:50523/PostBoxService"/>
          </baseAddresses>
        </host>-->
        <endpoint address="net.tcp://localhost:50523/PostBoxService" binding="netTcpBinding" bindingConfiguration="TcpBinding"
                  name="PostBoxEndPoint"
                  contract="SOPWebServer.IPostBox" />
        <endpoint address="net.tcp://localhost:50524/PostBoxService/mex" 
                    binding="mexTcpBinding" bindingConfiguration=""
                    name="PostBoxMexEndPoint"
                    contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PostBoxBehavior">
          <!-- 메타데이터 정보를 공개하지 않으려면 배포하기 전에 아래 값을 false로 설정하십시오. -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- 디버깅 목적으로 오류에서 예외 정보를 받으려면 아래의 값을 true로 설정하십시오. 예외 정보를 공개하지 않으려면 배포하기 전에 false로 설정하십시오. -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        디버깅 중에 웹 응용 프로그램 루트 디렉터리를 찾으려면 아래 값을 true로 설정하십시오.
        웹 응용 프로그램 폴더 정보를 공개하지 않으려면 배포 전에 false로 설정하십시오.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
