<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USSServerReadEvent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>    
    <add key="earthWindURL" value="http://192.168.95.211/bid_config/cgi.def.php?bid_module=module%3Acwinfo.parcone%3Autil%3Ae-gen.uneabcdefghijkbid_proccode=sendtouneabcdefghijkbid_datatype=json" />
  </appSettings>
</configuration>