<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="runLog" value="D:\UnESolution\web\RTSPtoWebRTC\log\run.log"/>
	<add key="aliveLogFolder" value="D:\UnESolution\web\RTSPtoWebRTC\log\Alive"/>
	<add key="cctvList" value="D:\UnESolution\web\RTSPtoWebRTC\config.json"/>
	<add key="url" value="http://127.0.0.1:8083/player/"/>
	<add key="interval" value="5000"/>
  </appSettings>
</configuration>
