<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="siteid" value="11"/>
		<add key="webserverURL" value="http://127.0.0.1:808"/>
		<add key="dbName" value="WSOP_11"/>
		<add key="dbType" value="0"/>
		<!--add key="cities" value="공주(4415010700), 파주(4148025000), 판교(4113510800)" /-->
		<add key="cities" value="대전(대전)" />
		<add key="region1" value="100"/>
		<!--<add key="region2" value="100"/>
		<add key="region3" value="100"/>-->
		<add key="imageFolder" value="C:\UnESolution\src\SOP7\WebSOPApp\ClientApp\public\resource\image\weather" />
		<add key="ServiceBaseURL" value="http://apis.data.go.kr/1360000"/>
		<add key="ServiceKey" value="N7btoJzSjDUofiEvhmwj5EmDGxE4UP92YYXMfHqqQY%2BU%2B%2F5izsxJgOLfMSzbG%2BahGT6Gj286mPIgSNSb1pzu8w%3D%3D"/>
		<!-- 형식: 도시이름(도 코드_시 코드)-->
		<add key="ServiceCityCode" value="대전(11C20000-11C20401)"/>
		<!-- Log -->
		<add key="logFolder" value="C:\UNE\Log"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="WeatherMaster"/>
	</appSettings>
</configuration>