<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- WebDB -->
		<add key="siteid" value="12"/>
		<add key="webserverURL" value="http://127.0.0.1:808"/>
		<!--add key="webserverURL" value="http://172.30.10.9:808"/-->
		<add key="dbName" value="WSOP_12"/>
		<add key="dbType" value="0"/>
		<!-- SVMS -->
		<!-- 녹십자 -->
		<add key="svmsIP" value="172.30.10.10	192.1.16.200"/>
		<add key="port" value="8020	8020"/>
		<add key="id" value="idms00	idms00"/>
		<add key="password" value="iccard@2009	root@passwd1!"/>
		<!-- Log -->
		<add key="logFolder" value=".\Log"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="SVMSServer"/>
		<!-- 영상서버 -->
		<add key="streamName" value="녹십자"/>
		<add key="rtspServerName" value="RTSPtoWebRTC"/>
		<add key="runRTSPServer" value="C:\UNE\RTSPtoWebRTC\RTSP_START.bat"/>
		<add key="cctvJson" value="C:\UNE\RTSPtoWebRTC\config.json"/>
		<!-- 알람 -->
		<add key ="Alarm_Security_URL" value="https://localhost:44379/api/SecuritySensor" />
	</appSettings>
</configuration>