<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="dbUrl" value="127.0.0.1"/>
		<add key="dbName" value="PubWifi"/>
		<add key="pw" value="une_Nia_1357!"/>
		<!-- alarmLevel2 : 주의-->
		<add key="alarmLevel2_pm25" value="75_4"/>
		<add key="alarmLevel2_o3" value="120"/>
		<add key="alarmLevel2_cold1" value="10_3"/>
		<add key="alarmLevel2_cold2" value="-12_2"/>
		<add key="alarmLevel2_heat" value="35_2"/>
		<add key="alarmLevel2_dry" value="25_2"/>
		<add key="alarmLevel2_clear_pm25" value="50"/>
		<!-- alarmLevel4 : 심각-->
		<add key="alarmLevel4_pm25" value="150_4"/>
		<add key="alarmLevel4_clear_pm25" value="90"/>
		<add key="alarmLevel4_o3" value="300"/>
		<add key="alarmLevel4_cold1" value="15_3"/>
		<add key="alarmLevel4_cold2" value="-15_2"/>
		<add key="alarmLevel4_heat" value="37_2"/>
		<add key="alarmLevel4_dry" value="15_2"/>
	</appSettings>
</configuration>