<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key ="SITE_ID" value="12" />
		<add key ="DB_NAME" value="WSOP_12" />
		<add key ="DB_TYPE" value="0" />
		<add key ="WebServerURL" value="http://127.0.0.1:808" />

		<!-- ERP -->
		<add key="NAME" value="DEST_SAP_PROD" />
		<add key="SAP_USERNAME" value="rfcuser" />
		<add key="SAP_PASSWORD" value="654321" />
		<add key="SAP_CLIENT" value="100" />
		<add key="SAP_APPSERVERHOST" value="172.16.2.30" />
		<add key="SAP_SYSTEMNUM" value="01" />
		<add key="SAP_LANGUAGE" value="ko" />
		<add key="SAP_POLLSIZE" value="100" />

		<add key="DestinationConfigName" value="DEST_SAP_PROD"/>
		<add key="MemberFunctionName" value="ZHR_INTER_M017"/>
		<add key="MemberParamName" value="I_BUKRS"/>
		<add key="MemberParamValue" value="1100"/>
		<add key="MemberTableName" value="IT_ZHR01"/>
		<add key="TeamFunctionName" value="ZHR_INTER_M012"/>
		<add key="TeamParamName" value="I_BUKRS"/>
		<add key="TeamParamValue" value="1100"/>
		<add key="TeamTableName" value="T_ORG"/>

		<!-- Log -->
		<add key="logFolder" value="C:\UNE\Log"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="ERPReadServer"/>
	</appSettings>
</configuration>