<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="webserverURL" value="http://127.0.0.1:808"/>
		<add key="dbType" value="0"/>
		<!-- 솔브레인 -->
		<!--add key="cities" value="공주(4415010700), 파주(4148025000), 판교(4113510800)" /-->
		<add key="siteid" value="10"/>
		<add key="dbName" value="WSOP_10"/>
		<add key="cities" value="공주(세종), 파주(파주), 판교(서울)" />
		<add key="region1" value="133"/>
		<add key="region2" value="109"/>
		<add key="region3" value="109"/>
		<!--add key="imageFolder" value="C:\UnESolution\src\SOP7\WebSOPApp\ClientApp\public\resource\image\weather" /-->
		<add key="imageFolder" value="C:\UnE\weather" />
		<add key="ServiceBaseURL" value="http://apis.data.go.kr/1360000"/>
		<add key="ServiceKey" value="N7btoJzSjDUofiEvhmwj5EmDGxE4UP92YYXMfHqqQY%2BU%2B%2F5izsxJgOLfMSzbG%2BahGT6Gj286mPIgSNSb1pzu8w%3D%3D"/>
		<!-- 형식: 도시이름(도 코드_시 코드)-->
		<add key="ServiceCityCode" value="공주(11C20000-11C20402), 파주(11B00000-11B20305), 판교(11B00000-11B20605)"/>
		<!-- 녹십자 -->
		<!--add key="siteid" value="12"/>
		<add key="dbName" value="WSOP_12"/>
		<add key="cities" value="오창(청주), 화순(순천), 음성(충주), 보정(수원)" />
		<add key="region1" value="133"/>
		<add key="region2" value="156"/>
		<add key="region3" value="133"/>
		<add key="region4" value="109"/>
		<add key="imageFolder" value="C:\UnESolution\src\SOP7\WebSOPApp\ClientApp\public\resource\image\weather" />
		<add key="ServiceBaseURL" value="http://apis.data.go.kr/1360000"/>
		<add key="ServiceKey" value="N7btoJzSjDUofiEvhmwj5EmDGxE4UP92YYXMfHqqQY%2BU%2B%2F5izsxJgOLfMSzbG%2BahGT6Gj286mPIgSNSb1pzu8w%3D%3D"/-->
		<!-- 형식: 도시이름(도 코드_시 코드)-->
		<!--add key="ServiceCityCode" value="오창(11C20000-11C10301), 화순(11F20000-11F20505), 음성(11C10000-11C10103), 보정(11B00000-11B20612)"/-->
		<!-- Log -->
		<add key="logFolder" value="C:\UNE\Log"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="WeatherMaster"/>
	</appSettings>
</configuration>