a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.loginBoxArea
{
    flex-grow: 100;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

#navBottom {
   margin-bottom: 0 !important;
}

.navList{ display: inline-block; flex-direction:row; width: 370px; height:25px; }
.navListItem { display: inline-flex; height: 35px; }
.navListLo { display: flex; }
.navHomeIcon { display:inline-block; color: #000000; background:url(../../Space/image/home-01.png) no-repeat; width: 28px; height:28px; background-size: 80%; }
.navLockIcon { display:inline-block; color: #000000; background:url(../../Space/image/lock-01.png) no-repeat; width: 28px; height:28px; background-size: 68%;
               background-position-x: 5px; background-position-y: 2.5px;}
.navAreaIcon { display:inline-block; color: #000000; background:url(../../Space/image/area-01.png) no-repeat; width: 28px; height:28px; background-size: 70%;
               background-position-x: 5.5px; background-position-y:2.5px; }

.navHomeText { display:inline-block; color: #000000; letter-spacing:-1px; }
.navLockText { display:inline-block; color: #000000; letter-spacing:-1px; }
.navAreaText { display:inline-block; color: #000000; letter-spacing:-1px; } 