<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="siteid" value="201" />
    <add key="webserver" value="http://127.0.0.1" />
    <add  key="dbname" value="BLD_201" />
    <add key="dbtype" value="0" />
    <add key="insa_ip" value="172.20.80.14" />
    <!--add key="insa_ip" value="192.168.95.102" /-->
    <add  key="insa_db" value="S1" />
    <add key="insa_type" value="0" />
    <add key="insa_uid" value="s1admin s1access!" />
  </appSettings>
</configuration>