<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key ="WebDBServerURL" value="http://127.0.0.1"/>
      <add key="WebServiceBaseURL" value="http://apis.data.go.kr/1360000"/>
      <add key="WebServiceKey" value="N7btoJzSjDUofiEvhmwj5EmDGxE4UP92YYXMfHqqQY%2BU%2B%2F5izsxJgOLfMSzbG%2BahGT6Gj286mPIgSNSb1pzu8w%3D%3D"/>
      <add key ="NexmoreURL" value="172.16.133.123"/>
      <add key ="NexmorePort" value="9301"/>
	  <add key ="SMSApiURL" value="http://221.147.100.161:8099"/>
      <!--add key ="SMSApiURL" value="http://localhost:6414"/-->
	</appSettings>
</configuration>