<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="siteid" value="202" />
    <add key="localSiteid" value="202001" />
    <add key="url" value="http://13.124.113.148" />
    <add key="dbname" value="BLD_202" />
    <add key="localDBname" value="BLD_202001" />
    <add key="downloadBase" value="C:\UnE\Upload\Site" />
    <!-- 이 값이 생략되어 있으면 config.ini를 통하여 읽은 SiteID와 연관된 정보만 사용한다. -->
    <!-- 이 값이 있으면, BaseBuildingGroup을 DB에서 읽고 그 아래에 있는 모든 Building들의 정보를 사용한다. -->
    <!--add key="baseBuildingGroupID" value="1" /-->
  </appSettings>
</configuration>