.ui-widget.success-dialog {
}

.ui-widget-content.popup {
    display:none;
	position: absolute;
	border: 1px solid #d2d2d2;
	border-top: 8px solid #02b2e1;
	background-color: #fff
}

.ui-dialog.popup {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
    
}

.ui-dialog.popup .ui-dialog-content {
    background: none repeat 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    margin: 0;
}

.ui-dialog.popup .ui-widget-header {
    background: #02b2e1;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog.popup .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
}
