




/* 모바일 */
@media all and (max-width: 767px) {

.sarTree { padding: 25px;}

.treeview > li { margin-bottom: 10px; padding-top:25px;}
.treeview > li:last-child { margin-bottom: 0; }
.treeview i { display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin-right: 6px;
              border: solid 1px #888; position: relative; cursor: pointer; text-indent: -9999px; border-radius: 4px; -moz-border-radius: 4px;
             -webkit-border-radius: 4px;}

.treeview i:before,
.treeview i:after { content: ''; display: block; /* background: #333; */ background:#fff; position: absolute; left: 50%; top: 50%;}
.treeview i:before { width: 10px; height: 2px; margin-top: -1px; margin-left: -5px;}
.treeview i:after { width: 2px; height: 10px; margin-top: -5px; margin-left: -1px; display: none;}
.treeview i.fa-plus:after { display: block;}
.treeview > li > h5 { display: inline-block; vertical-align: middle; font-size: 13px;}
.treeview > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > h5.active { color: #1E90FF; font-weight: 700; cursor: pointer;}
.treeview > li > ul { list-style: none; padding-left: 25px;}
.treeview > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li { margin-bottom: 5px; padding-top:5px; font-size: 11px;}
.treeview > li > ul > li:last-child { margin-bottom: 0;}
.treeview > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > a:before { content: ''; display: block; width: 3px; height: 3px; background: #333; position: absolute;
                                      left: 0; top: 9px;}
.treeview > li > ul > li > h5 { display: inline-block; vertical-align: middle; font-size: 11px;}
.treeview > li > ul > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > h5.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul { list-style: none; margin-top: 5px; padding-left: 15px; margin-bottom: 10px;}
.treeview > li > ul > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul > li { margin-bottom: 5px;}
.treeview > li > ul > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul > li > a.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li > ul > li > a:before { content: ''; display: block; width: 2px; height: 2px; background: #333;
                                                position: absolute; left: 0; top: 11px;}

.treeview > li > ul > li > a.active { color: #1e90ff; font-weight: 700;}

}


/* 가로 모바일 */
@media all and (min-width: 640px) and (max-width: 959px) {

.sarTree { padding: 25px;}

.treeview > li { margin-bottom: 10px; padding-top:25px;}
.treeview > li:last-child { margin-bottom: 0; }
.treeview i { display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin-right: 6px;
              border: solid 1px #888; position: relative; cursor: pointer; text-indent: -9999px; border-radius: 4px; -moz-border-radius: 4px;
             -webkit-border-radius: 4px;}

.treeview i:before,
.treeview i:after { content: ''; display: block; /* background: #333; */ background:#fff; position: absolute; left: 50%; top: 50%;}
.treeview i:before { width: 10px; height: 2px; margin-top: -1px; margin-left: -5px;}
.treeview i:after { width: 2px; height: 10px; margin-top: -5px; margin-left: -1px; display: none;}
.treeview i.fa-plus:after { display: block;}
.treeview > li > h5 { display: inline-block; vertical-align: middle; font-size: 13px;}
.treeview > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > h5.active { color: #1E90FF; font-weight: 700; cursor: pointer;}
.treeview > li > ul { list-style: none; padding-left: 25px;}
.treeview > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li { margin-bottom: 5px; padding-top:5px; font-size: 11px;}
.treeview > li > ul > li:last-child { margin-bottom: 0;}
.treeview > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > a:before { content: ''; display: block; width: 3px; height: 3px; background: #333; position: absolute;
                                      left: 0; top: 9px;}
.treeview > li > ul > li > h5 { display: inline-block; vertical-align: middle; font-size: 11px;}
.treeview > li > ul > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > h5.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul { list-style: none; margin-top: 5px; padding-left: 15px; margin-bottom: 10px;}
.treeview > li > ul > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul > li { margin-bottom: 5px;}
.treeview > li > ul > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul > li > a.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li > ul > li > a:before { content: ''; display: block; width: 2px; height: 2px; background: #333;
                                                position: absolute; left: 0; top: 11px;}

.treeview > li > ul > li > a.active { color: #1e90ff; font-weight: 700;}

}


/* 태블릿 */
@media all and (min-width: 768px) and (max-width: 1024px) {

.sarTree { padding: 25px;}

.treeview > li { margin-bottom: 10px; padding-top:25px;}
.treeview > li:last-child { margin-bottom: 0; }
.treeview i { display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin-right: 6px;
              border: solid 1px #888; position: relative; cursor: pointer; text-indent: -9999px; border-radius: 4px; -moz-border-radius: 4px;
             -webkit-border-radius: 4px;}

.treeview i:before,
.treeview i:after { content: ''; display: block; /* background: #333; */ background:#fff; position: absolute; left: 50%; top: 50%;}
.treeview i:before { width: 10px; height: 2px; margin-top: -1px; margin-left: -5px;}
.treeview i:after { width: 2px; height: 10px; margin-top: -5px; margin-left: -1px; display: none;}
.treeview i.fa-plus:after { display: block;}
.treeview > li > h5 { display: inline-block; vertical-align: middle; font-size: 16px;}
.treeview > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > h5.active { color: #1E90FF; font-weight: 700; cursor: pointer;}
.treeview > li > ul { list-style: none; padding-left: 25px;}
.treeview > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li { margin-bottom: 5px; padding-top:5px; font-size: 13px;}
.treeview > li > ul > li:last-child { margin-bottom: 0;}
.treeview > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > a:before { content: ''; display: block; width: 3px; height: 3px; background: #333; position: absolute;
                                      left: 0; top: 9px;}
.treeview > li > ul > li > h5 { display: inline-block; vertical-align: middle; font-size: 16px;}
.treeview > li > ul > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > h5.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul { list-style: none; margin-top: 5px; padding-left: 15px; margin-bottom: 10px;}
.treeview > li > ul > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul > li { margin-bottom: 5px;}
.treeview > li > ul > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul > li > a.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li > ul > li > a:before { content: ''; display: block; width: 2px; height: 2px; background: #333;
                                                position: absolute; left: 0; top: 11px;}

.treeview > li > ul > li > a.active { color: #1e90ff; font-weight: 700;}


}


/* 가로 태블릿*/
@media all and (min-width: 960px) and (max-width: 1280px) {

.sarTree { padding: 25px;}

.treeview > li { margin-bottom: 10px; padding-top:25px;}
.treeview > li:last-child { margin-bottom: 0; }
.treeview i { display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin-right: 6px;
              border: solid 1px #888; position: relative; cursor: pointer; text-indent: -9999px; border-radius: 4px; -moz-border-radius: 4px;
             -webkit-border-radius: 4px;}

.treeview i:before,
.treeview i:after { content: ''; display: block; /* background: #333; */ background:#fff; position: absolute; left: 50%; top: 50%;}
.treeview i:before { width: 10px; height: 2px; margin-top: -1px; margin-left: -5px;}
.treeview i:after { width: 2px; height: 10px; margin-top: -5px; margin-left: -1px; display: none;}
.treeview i.fa-plus:after { display: block;}
.treeview > li > h5 { display: inline-block; vertical-align: middle; font-size: 16px;}
.treeview > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > h5.active { color: #1E90FF; font-weight: 700; cursor: pointer;}
.treeview > li > ul { list-style: none; padding-left: 25px;}
.treeview > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li { margin-bottom: 5px; padding-top:5px; font-size: 13px;}
.treeview > li > ul > li:last-child { margin-bottom: 0;}
.treeview > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > a:before { content: ''; display: block; width: 3px; height: 3px; background: #333; position: absolute;
                                      left: 0; top: 9px;}
.treeview > li > ul > li > h5 { display: inline-block; vertical-align: middle; font-size: 16px;}
.treeview > li > ul > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > h5.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul { list-style: none; margin-top: 5px; padding-left: 15px; margin-bottom: 10px;}
.treeview > li > ul > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul > li { margin-bottom: 5px;}
.treeview > li > ul > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul > li > a.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li > ul > li > a:before { content: ''; display: block; width: 2px; height: 2px; background: #333;
                                                position: absolute; left: 0; top: 11px;}

.treeview > li > ul > li > a.active { color: #1e90ff; font-weight: 700;}

}


/* 데스크탑 */
@media all and (min-width: 1025px) {

.sarTree { padding: 25px;}

.treeview > li { margin-bottom: 10px; padding-top:25px;}
.treeview > li:last-child { margin-bottom: 0; }
.treeview i { display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin-right: 6px;
              border: solid 1px #888; position: relative; cursor: pointer; text-indent: -9999px; border-radius: 4px; -moz-border-radius: 4px;
             -webkit-border-radius: 4px;}

.treeview i:before,
.treeview i:after { content: ''; display: block; /* background: #333; */ background:#fff; position: absolute; left: 50%; top: 50%;}
.treeview i:before { width: 10px; height: 2px; margin-top: -1px; margin-left: -5px;}
.treeview i:after { width: 2px; height: 10px; margin-top: -5px; margin-left: -1px; display: none;}
.treeview i.fa-plus:after { display: block;}
.treeview > li > h5 { display: inline-block; vertical-align: middle; font-size: 16px;}
.treeview > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > h5.active { color: #1E90FF; font-weight: 700; cursor: pointer;}
.treeview > li > ul { list-style: none; padding-left: 25px;}
.treeview > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li { margin-bottom: 5px; padding-top:5px; font-size: 13px;}
.treeview > li > ul > li:last-child { margin-bottom: 0;}
.treeview > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > a:before { content: ''; display: block; width: 3px; height: 3px; background: #333; position: absolute;
                                      left: 0; top: 9px;}
.treeview > li > ul > li > h5 { display: inline-block; vertical-align: middle; font-size: 16px;}
.treeview > li > ul > li > h5:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > h5.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul { list-style: none; margin-top: 5px; padding-left: 15px; margin-bottom: 10px;}
.treeview > li > ul > li > ul:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul.active { color: #1E90FF; font-weight: 700;}

.treeview > li > ul > li > ul > li { margin-bottom: 5px;}
.treeview > li > ul > li > ul > li > a { display: inline-block; position: relative; padding-left: 8px;}
.treeview > li > ul > li > ul > li > a:hover { text-decoration: underline; cursor: pointer;}
.treeview > li > ul > li > ul > li > a.active { color: #1E90FF; font-weight: 700;}
.treeview > li > ul > li > ul > li > a:before { content: ''; display: block; width: 2px; height: 2px; background: #333;
                                                position: absolute; left: 0; top: 11px;}

.treeview > li > ul > li > a.active { color: #1e90ff; font-weight: 700;}


}




