<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebDB" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IUpload" messageEncoding="Mtom" />
        <binding name="WSHttpBinding_IDownload" messageEncoding="Mtom" maxBufferPoolSize="31457280" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="31457280" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58798/WebDBService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebDB" contract="WebDBService.IWebDB" name="BasicHttpBinding_IWebDB" />
      <endpoint address="http://localhost:58798/UploadService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUpload" contract="UploadService.IUpload" name="WSHttpBinding_IUpload">
        <identity>
          <userPrincipalName value="DESKTOP-960VHMV\kimjw" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58798/DownloadService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDownload" contract="DownloadService.IDownload" name="WSHttpBinding_IDownload">
        <identity>
          <userPrincipalName value="DESKTOP-960VHMV\kimjw" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
