<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key ="ALARM_FIRE_URL" value="http://localhost:44379/api/FireSensor" />

      <!-- Log -->
      <add key="logFolder" value="C:\UNE\Log\GSFireSensorServer"/>
      <!-- 로그 저장기간(일)-->
      <add key="logLifeTime" value="30"/>
      <add key="logFileTag" value="GSFireSensorServer"/>
    </appSettings>
</configuration>