<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="target" value="D:\UnESolution\src\SOP6\CCTVSingleViewer\CCTVSingleViewer\bin\Release\CCTVAlarm.txt"/>
  </appSettings>
</configuration>