<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!-- WebDB -->
    <add key="host" value="127.0.0.1"/>
    <add key="id" value="sa"/>
    <add key="pw" value="9449966Ab"/>
    <add key="transactionTimeout" value="5.0"/>
    <add key="charSet" value="utf8"/>
    <!-- Upload -->
    <add key="uploadFolder" value="C:\UnE\Upload"/>
    <!-- Log -->
    <add key="logFolder" value="C:\UnE\Log"/>
    <add key="logLifeTime" value="30"/>
    <!-- 로그 저장기간(일) -->
    <add key="logFileTag" value="UnEService"/>
    <!-- Search -->
    <add key="Search.HelpRootFolder" value="D:\UnESolution\web\UnEService\UnEService\IISHosting"/>
  </appSettings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <client/>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MtomSetting" maxBufferPoolSize="31457280" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="31457280" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WebDBBehavior" name="UnEService.WebDBService">
        <endpoint address="" behaviorConfiguration="webDB" binding="basicHttpBinding" bindingConfiguration="Basic" contract="UnEService.IWebDB"/>
      </service>
      <service behaviorConfiguration="UploadBehavior" name="UnEService.UploadService">
        <endpoint address="" behaviorConfiguration="upload" binding="wsHttpBinding" bindingConfiguration="MtomSetting" contract="UnEService.IUpload"/>
      </service>
      <service behaviorConfiguration="UploadBehavior" name="UnEService.DownloadService">
        <endpoint address="" behaviorConfiguration="upload" binding="wsHttpBinding" bindingConfiguration="MtomSetting" contract="UnEService.IDownload"/>
      </service>
      <service behaviorConfiguration="WebDBBehavior" name="UnEService.SearchService">
        <endpoint address="" behaviorConfiguration="webDB" binding="basicHttpBinding" bindingConfiguration="Basic" contract="UnEService.ISearch"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webDB"/>
        <behavior name="upload">
          <dataContractSerializer maxItemsInObjectGraph="31457280"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WebDBBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="UploadBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        디버깅 중에 웹 응용 프로그램 루트 디렉터리를 찾으려면 아래 값을 true로 설정하십시오.
        웹 응용 프로그램 폴더 정보를 공개하지 않으려면 배포 전에 false로 설정하십시오.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>