<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
	<add key="ip" value="192.168.254.200" />
    <add key="port" value="4378"/>
    <add key="NMuxType" value="2"/>
    <add key="site" value="10"/>
	<add key="webServerURL" value="http://192.168.254.201:80" />
	<add key="sopApiUrl" value="http://192.168.254.201:44379/api/FireSensor"/>
    <add key="dbName" value="WSOP_10"/>
    <add key="dbType" value="0"/>
    <add key="relayPort" value="4378"/>
	<!-- Log -->
	<add key="logFolder" value="C:\UNE\Log"/>
	<!-- 로그 저장기간(일)-->
	<add key="logLifeTime" value="30"/>
	<add key="logFileTag" value="MuxFireSensorServer"/>
  </appSettings>
</configuration>
