<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="siteid" value="12"/>
		<add key="webserverURL" value="http://127.0.0.1:808"/>
		<add key="sopApiUrl" value="https://localhost:44379/api/FireSensor"/>
		<add key="dbName" value="WSOP_12"/>
		<add key="dbType" value="0"/>
		<add key="logFolder" value="C:/UnE/Log/FireSensorServer"/>
		<add key="logFile" value="fireSensorServer"/>
		<add key="siemensMode" value="server"/>
		<add key="siemensIP" value="172.30.14.202"/>
		<add key="siemensPort" value="1024"/>
		<add key="siemensSensorServer" value="1"/>
		<add key="johnsonSensorServer" value="2"/>
		<!-- 동방전자 데이터(Mux Protocol) -->
		<add key="muxServerIP" value="127.0.0.1"/>
		<!--add key="muxServerIP" value="172.30.14.201"/-->
		<add key="muxServerPort" value="4378"/>
		<add key="NMuxType" value="2"/>
	</appSettings>
</configuration>