<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="siteid" value="10"/>
		<add key="webserverURL" value="http://127.0.0.1:809"/>
		<add key="dbName" value="WSOP_10"/>
		<add key="dbType" value="0"/>
		<add key="company" value="솔브레인" />
	</appSettings>
</configuration>