<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key ="SOULBARIN_ID" value="unes"/>
      <add key ="SOULBARIN_PW" value="unesunes"/>
      <add key="WebServiceBaseURL" value="http://sbsihia.neoidm.com:8989" />
      <add key ="SITE_ID" value="10" />
      <add key ="DB_NAME" value="WSOP_10" />
      <add key ="DB_TYPE" value="0" />
      <add key ="WebServerURL" value="http://192.168.254.201:80" />
	  <add key ="Alarm_ETC_URL" value="http://192.168.254.201:44379/api/EtcSensor" />
      <add key ="Alarm_PSM_URL" value="http://192.168.254.201:44379/api/PSMSensor" />
      <add key="WISH_NAME" value="ESH_DB" />
      <add key="WISH_TYPE" value="0" />
      <add key="WISH_ID" value="wesh" />
      <add key="WISH_PW" value="techn0$b" />
      <add key="WISH_URL" value="192.168.11.58" />
      <add key="HR_NAME" value="Soulbrain_HR" />

		<!-- Log -->
		<add key="logFolder" value="C:\UNE\Log"/>
		<!-- 로그 저장기간(일)-->
		<add key="logLifeTime" value="30"/>
		<add key="logFileTag" value="SoulbrainWebSensorServer"/>
    </appSettings>
</configuration>