#subPage {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px); /*height: 100%;*/
    padding-top: 0px; /*padding-top: 60px;*/
    padding-left: 430px;
    min-width: 1800px;
}

#subPage.sop {
    padding-left: 120px;
    padding-bottom: 115px;
}

#subPage.sop input[type="radio"]:after {
    background: #457de9 !important;
}

#subPage.sop input[type="checkbox"]:checked {
    background: #fff url('../../Common/img/common/checkbox_blu.png')no-repeat center center;
}



#subPage.sq {
    padding-left: 120px;
    padding-bottom: 0;
}

#subPage.sq input[type="radio"]:after {
    background: #7044d8 !important;
}

#subPage.sq input[type="checkbox"]:checked {
    background: #fff url('../../Common/img/common/checkbox_pup.png')no-repeat center center;
}



#subPage.ds {
    padding-left: 120px;
}



#subPage.ctv input[type="radio"]:after {
    background: #009c9e !important;
}

#subPage.ctv input[type="checkbox"]:checked {
    background: #fff url('../../Common/img/common/checkbox_grn.png')no-repeat center center;
}

