<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key ="SITE_ID" value="10" />
      <add key ="DB_NAME" value="WSOP_10" />
      <add key ="DB_TYPE" value="0" />
      <add key ="WebServerURL" value="http://127.0.0.1:808" />
      <add key ="Alarm_Fire_URL" value="http://localhost:44379/api/FireSensor" />
      <add key ="Alarm_ETC_URL" value="http://localhost:44379/api/EtcSensor" />
      <add key ="Alarm_PSM_URL" value="http://localhost:44379/api/PSMSensor" />
    </appSettings>
</configuration>