<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BroadcastServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="siteid" value="205" />
		<add key="dbName" value="BLD_205"/>
		<add key="dbType" value="sqlServer"/>
		<add key="WebServerURL" value="http://127.0.0.1"/>
		
		<add key="port" value="4378"/>
		<add key="nRecentSec" value="30"/>

		<!--Log-->
		<add key="logFileTag" value="FireSensorServer"/>
		<add key="logLifeTime" value="30"/>
		<add key="logFolder" value="C:\UNE\Log"/>
	</appSettings>
</configuration>