<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ip" value="127.0.0.1"/>
    <!--<add key="ip" value="40.254.114.103"/>-->
    <add key="site" value="200"/>
    <add key="webServerURL" value="http://127.0.0.1"/>
    <add key="dbName" value="BLD_200"/>
    <add key="dbType" value="0"/>
    <add key="thDBName" value="EIBS"/>
    <add key="ownInfo" value="0_bA6699449_as"/>
	  <add key="thInfo" value="0_bA6699449_as"/>
    <!--<add key="thInfo" value="0_@1sbielgae_as"/>-->
  </appSettings>
</configuration>