<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ip" value="192.168.1.13"/>
    <add key="db_name" value="eradams"/>
    <add key="id" value="etadams"/>
    <add key="pw" value="et!2345"/>
    <add key="O2" value="1_X1003"/>
    <add key="CO2" value="2_X1002"/>
    <add key="CO" value="3_X1001"/>
    <add key="CH4" value="4_X1004"/>
    <add key="Temp" value="5_X1005"/>
    <add key="Humi" value="6_X1006"/>
    <add key="Inverse" value="O2"/>
    <add key="SiteID" value="3"/>
    <add key="SiteDBName" value="SOP_3"/>
    <add key="SiteDBType" value="1"/>
    <add key="SiteDBHost" value="http://192.168.1.15"/>
  </appSettings>
</configuration>
