.sarTree {padding: 15px; cursor: pointer;}
.treeview > li {margin-bottom: 10px; position:relative;}  /* 0106 */
.treeview > li:last-child {margin-bottom: 0;}
.treeview i {display: inline-block; vertical-align: top; width: 20px; height: 20px; margin-right: 6px; border: solid 1px #888; position: relative; cursor: pointer; text-indent: -9999px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; } 
.treeview i:before,
.treeview i:after {content: ''; display: block; background: #333; position: absolute; left: 50%; top: 50%;}
.treeview i:before {width: 10px; height: 2px; margin-top: -1px; margin-left: -5px;}
.treeview i:after {width: 2px; height: 10px; margin-top: -5px; margin-left: -1px; display: none;}
.treeview i.fa-plus:after {display: block;}
.treeview i.fa-minus,
.treeview i:hover,
.treeview i:active,
.treeview i:focus {background: #333; border-color: #333;}
.treeview i.fa-minus:before,
.treeview i.fa-minus:after,
.treeview i:hover:before,
.treeview i:hover:after,
.treeview i:active:before,
.treeview i:active:after,
.treeview i:focus:before,
.treeview i:focus:after {background: #fff;}
.treeview ul {margin-top: 5px; padding-left: 15px; margin-bottom: 10px;}
.treeview > li > h5 { display: inline-block; vertical-align: top; font-size: 18px; line-height: 22px; /* max-width: 75%; */ margin-top: -2px; cursor: pointer; /* width: calc(100% - 10%); */ }  /* 0106 */
.treeview > li > h5:hover,
.treeview > li > h5:active,
.treeview > li > h5:focus {text-decoration: underline;}
.treeview i:hover ~ h5,
.treeview i:active ~ h5,
.treeview i:focus ~ h5 {text-decoration: underline;}
.treeview > li > ul li {margin-bottom: 5px; position:relative; } /* 0106 */


.treeview > li > ul li:last-child {margin-bottom: 0;}
.treeview a {display: inline-block; /* position: relative; */  padding-left: 15px; font-size: 16px; padding-right: 10px; cursor: pointer; white-space: nowrap; text-overflow: ellipsis; 
             overflow:hidden; max-width: calc(100% - 9%);  } /* 0106 - 글자수 제한 */
/* .treeview a:before {content: ''; display: block; width: 3px; height: 3px; background: #333; position: absolute; left: 7px; top: 11px;} */ /* 0105 */
.treeview a:focus,
.treeview a:hover {text-decoration: underline;}
.treeview > li > ul h5 {display: inline-block; vertical-align: top; font-size: 18px; /* max-width: 75%; */ max-width:82%; margin-top: -2px; cursor: pointer; /* width:calc(100% - 13%); */
                        white-space:nowrap;  overflow:hidden;  text-overflow:ellipsis; }  /* 0106 */
.treeview > li > ul h5:hover,
.treeview > li > ul h5:active,
.treeview > li > ul h5:focus {text-decoration: underline;}
.treeview i ~ a {display: inline-block; vertical-align: top; font-size: 18px; line-height: 22px; max-width: 75%; margin-top: -2px; cursor: normal; padding-left: 0;}
.treeview i ~ a:before {display: none;}
.treeview i ~ a:hover,
.treeview i ~ a:active,
.treeview i ~ a:focus {text-decoration: underline; font-weight: 700; background: none;}


.treeview.wk a:focus,
.treeview.wk a:hover {background: #000; color: #fff; text-decoration: none; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.treeview.wk a:focus:before,
.treeview.wk a:hover:before {background: #fff;}
.treeview.wk i ~ a {display: inline-block; vertical-align: top; font-size: 18px; line-height: 22px; max-width: 75%; margin-top: -2px; cursor: normal; padding-left: 0;}
.treeview.wk i ~ a:before {display: none;}
.treeview.wk i ~ a:hover,
.treeview.wk i ~ a:active,
.treeview.wk i ~ a:focus {text-decoration: underline; font-weight: 700; background: none; color: #333;}

.treeview.wkd a {color: #aaa;}
.treeview.wkd a:focus {text-decoration: none; color: #000; font-weight: 700;}

/* MODULE (button, pagination, table etc) */
.scrollbar {
    overflow-y: auto
}

    .scrollbar::-webkit-scrollbar {
        width: 10px;
        background: none
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #bbb;
        opacity: .4
    }

    .scrollbar::-webkit-scrollbar-track {
        background: none
    }

/* 0104 조직관리 트리 관련 ***************************************************************/
.select {
    color: #329CD6;
}

.selected {
    color: #329CD6;
}

    .selected > .editArea > .treeEdit {
        display: inline-block;
        width: 23px;
        height: 20px;
        background: url(../image/pencil_gray-01.png) no-repeat;
        background-size: 65%;
        background-position-x: 10px;
        background-position-y: 1px;
        margin-left: 5px;
        margin-right: 2px;
    }

        .selected > .editArea > .treeEdit:hover {
            display: inline-block;
            width: 23px;
            height: 20px;
            background: url(../image/pencil_gray_hover-01.png)no-repeat;
            background-size: 65%;
            background-position-x: 10px;
            background-position-y: 1px;
            margin-left: 5px;
            margin-right: 2px;
        }

    .selected > .editArea > .treePlus {
        display: block;
        width: 23px;
        height: 20px;
        background: url(../image/plus-gray-01.png) no-repeat;
        background-size: 60%;
        background-position-x: 9px;
        background-position-y: 2px;
        float: right;
        color: #ffffff;
    }

        .selected > .editArea > .treePlus:hover {
            display: inline-block;
            width: 23px;
            height: 20px;
            background: url(../image/plus-gray_hover-01.png)no-repeat;
            background-size: 60%;
            background-position-x: 9px;
            background-position-y: 2px;
            float: right;
            color: #ffffff;
        }

    .selected > .editArea > .treeMinus {
        display: block;
        width: 23px;
        height: 20px;
        background: url(../image/minus-gray-01.png) no-repeat;
        background-size: 60%;
        background-position-x: 9px;
        background-position-y: 2px;
        float: right;
        color: #ffffff;
    }

        .selected > .editArea > .treeMinus:hover {
            display: inline-block;
            width: 23px;
            height: 20px;
            background: url(../image/minus-gray_hover-01.png)no-repeat;
            background-size: 60%;
            background-position-x: 9px;
            background-position-y: 2px;
            float: right;
            color: #ffffff;
        }

    .selected > .editArea {
        visibility: visible;
        display: inline-block;
        position: absolute;
        right: 0;
    }

.wordIength {
    display: inline-block; /* padding-left: 15px; */
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* max-width: calc(100% - 26%) !important; */
    max-width: calc(100% - 38%) !important;
}