.componentProperties {
    position: fixed;
    top: 420px;
    margin-right: -370px;
    width: 300px;
    height: 300px;
    background-color: #949c63;
}

.componentType
{
    position: relative;
    top: 5px;
    margin-left: 20px;
    font-weight: bold;
}

.endpointProperty
{
    position: relative;
    top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.processProperty,
.internalProperty
{
    position: relative;
    top: 20px;
    margin-left: 20px;
}

.optionItem
{
    margin-left: 10px;
}

.componentText
{
    position: relative;
    top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    height: 205px;
    resize: none;
}

.processText,
.internalText
{
    position: absolute;
    left: 80px;
}

.missionText {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100% - 20px);
    height: 140px;
    resize: none;
}

.annotationLabel,
.decisionLabel
{
    position: relative;
    top: 20px;
    left: 20px;
}

.isSMS
{
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.btnApply {
    position: fixed;
    top: 740px;
    margin-right: -370px;
    background-color: #949c63;
}

.width_5Pro {
    width: 5%;
}

.width_10Pro {
    width: 10%;
}

.width_15Pro {
    width: 15%;
}

.width_20Pro {
    width: 20%;
}

.width_25Pro {
    width: 25%;
}

.width_35Pro {
    width: 35%;
}

.width_50Pro {
    width: 50%;
}

.width_85Pro {
    width: 85%;
}

#width_100Pro {
    width: 100%;
}

#width_88px {
    width: 88px;
}

#width_89px {
    width: 89px;
}

#width_100px {
    width: 100px;
}

#height_100Pro {
    height: 100%;
}

#height_100px {
    height: 100px;
}

#height_29px_top0 {
    height: 29px;
    top: 0;
}

#height_65px_top0 {
    height: 65px;
    top: 0;
}

#height_100px_top0 {
    height: 65px;
    top: 0;
}

#position_relative
{
    position: relative;
}

#process_scrollContent {
    height: 83px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#decision_scrollContent {
    height: 63px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#decision_scrollContent2 {
    height: 822px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#decision_scrollContent3 {
    height: 93px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#annotation_scrollContent {
    height: 910px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#endpoint_scrollContent {
    height: 880px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#internal_scrollContent {
    height: 83px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#internal_scrollContent2 {
    height: 782px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#internal_scrollContent3 {
    height: 238px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

#saveSOP_scrollContent {
    height: 561px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}

.off {
    display: none
}

#pos_relative {
    position: relative;
}

#mission_odd,
#mission_even
{
    height: 83px;
    margin-bottom: 0px;
    margin-right: 0px;
    max-height: none;
}