.paginate {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
}

.page {
    float: left;
    position: relative;
    min-width: 30px;
    height: 30px;
    margin: -1px 1px;
    padding: 2px 2px 0;
    border: 1px solid #fff;
    color: #999;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
}

.page:hover {
    text-decoration: none;
    border: 1px solid #e0e0e0;
    color: #00c73c;
}

.pageNow {
    float: left;
    position: relative;
    min-width: 30px;
    height: 30px;
    margin: -1px 1px;
    padding: 2px 2px 0;
    border: 1px solid #e0e0e0;
    color: #00c73c;
    text-decoration: none;
    vertical-align: top;
    font-weight: bold;
}

    .pageNow:hover {
        text-decoration: none;
        color: #00c73c;
        font-weight: bold;
    }