<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISearch" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58798/SearchService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearch"
                contract="SearchService.ISearch" name="BasicHttpBinding_ISearch" />
        </client>
    </system.serviceModel>
</configuration>
