.test {
    width: 100%;
    height: 100%;
    display: flex;
}

.teMainNavMenus {
    position: fixed;
    top: 80px;
    z-index: 1;
    margin-left: -200px;
}

.teMainNavMenus ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menuBtn {
    padding: 10px;
    margin-right: 20px;
    border: 1px solid white;
}

.menuBtn.active,
.menuBtn:hover {
    background-color: pink;
    cursor: pointer;
}