<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="siteid" value="201" />
    <add key="webserver" value="127.0.0.1" />
    <add key="dbname" value="BLD_201" />
    <add key="dbtype" value="0" />
    <!-- S1 -->
    <add key="S1ServerIP" value="172.20.80.14" />
    <add key="S1DbName" value="S1" />
    <add key="S1UserID" value="s1admin" />
    <add key="S1Password" value="s1access!" />
    <!-- Log -->
    <add key="logFolder" value="C:\UnE\Log" />
    <!-- 로그 저장기간(일) -->
    <add key="logLifeTime" value="30" />
    <add key="logFileTag" value="FireSensorServer" />
    <add key="fireServerIP" value="192.168.95.103" />
    <add key="fireServerPort" value="6502" />
    <add key="ussServerPort" value="19100" />
    <!--add key="earthWindURL" value="http://project.cwinfo.co.kr/bid_config/cgi.def.php?bid_module=module%3Acwinfo.parcone%3Autil%3Ae-gen.une&amp;bid_proccode=sendtoune&amp;bid_datatype=json" /-->
    <add key="earthWindURL" value="http://192.168.95.211/bid_config/cgi.def.php?bid_module=module%3Acwinfo.parcone%3Autil%3Ae-gen.uneabcdefghijkbid_proccode=sendtouneabcdefghijkbid_datatype=json" />
    <add key="hotel" value="1" />
    <add key="retail" value="2" />
    <add key="officeA" value="3" />
    <add key="officeB" value="4" />
  </appSettings>
</configuration>