<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="siteid" value="201"/>
    <add key="webserver" value="127.0.0.1" />
    <add key="dbname" value="BLD_201" />
    <add key="dbtype" value="0" />
    <!-- Log -->
    <add key="logFolder" value="C:\UnE\Log"/>
    <!-- 로그 저장기간(일) -->
    <add key="logLifeTime" value="30"/>
    <add key="logFileTag" value="BlackoutSensorServer"/>
    <add key="rabbitmqServerIP" value="192.168.4.151"/>
    <!--add key="rabbitmqPort" value="47808" /-->    
    <add key="point" value="MA2_UVR-TOT,MB2_UVR-TOT,MC2_UVR-TOT,MD2_UVR-TOT"/> <!--MA2,MB2:타워2,지하7층 전기실/MC2,MD2:타워1,호텔,리테일-->
  </appSettings>
</configuration>
