<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- WebDB -->
    <add key="host" value="127.0.0.1" />
    <add key="id" value="sa" />
    <add key="pw" value="9449966Ab" />
    <add key="transactionTimeout" value="5.0" />
    <add key="charSet" value="utf8" />
    <!-- Upload -->
    <add key="uploadFolder" value="C:\UnE\Upload" />
    <!-- Log -->
    <add key="logFolder" value="C:\UnE\Log" />
    <add key="logLifeTime" value="30" />
    <!-- 로그 저장기간(일) -->
    <add key="logFileTag" value="UnEService" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <client />
    <bindings>
      <basicHttpBinding>
        <binding name="Basic" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MtomSetting" maxBufferPoolSize="31457280" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="31457280" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WebDBBehavior" name="UnEService.WebDBService">
        <endpoint address="" behaviorConfiguration="webDB" binding="basicHttpBinding" bindingConfiguration="Basic" contract="UnEService.IWebDB" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/WebDBService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="UploadBehavior" name="UnEService.UploadService">
        <endpoint address="" behaviorConfiguration="upload" binding="wsHttpBinding" bindingConfiguration="MtomSetting" contract="UnEService.IUpload" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/UploadService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="UploadBehavior" name="UnEService.DownloadService">
        <endpoint address="" behaviorConfiguration="upload" binding="wsHttpBinding" bindingConfiguration="MtomSetting" contract="UnEService.IDownload" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/DownloadService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WebDBBehavior" name="UnEService.SearchService">
        <endpoint address="" behaviorConfiguration="webDB" binding="basicHttpBinding" bindingConfiguration="Basic" contract="UnEService.ISearch" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/SearchService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webDB" />
        <behavior name="upload">
          <dataContractSerializer maxItemsInObjectGraph="31457280" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WebDBBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="UploadBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>