<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
        <add key="db1" value="300" />
		<add key="serivce1" value="SOPWebServer1" />
		<add key="exe1" value="D:/UnE/SOPWebServer1.exe" />
	    <add key="db2" value="301" />
		<add key="serivce2" value="SOPWebServer2" />
		<add key="exe2" value="D:/UnE/SOPWebServer2.exe" />
        <add key="db3" value="302" />
		<add key="serivce3" value="SOPWebServer3" />
		<add key="exe3" value="D:/UnE/SOPWebServer3.exe" />
    </appSettings>
</configuration>